<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>D:\deploy\ccxt.net</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>